#colored-para p {
	color: #3498db;
}

#image-style {
	border-radius: 50%;
	text-align: center;
}

.image-innerContainer {
	align-items: center;
	text-align: center;
	border-radius: 50%;
}
.image-innerContainer > *:hover {
	transition: scale(2);
}
.image-innerContainer > *:not(:hover) {
	transform: scale(0.9);
}
.image-innerContainer p {
	color: #1215a0;
	text-align: center;
}
.image-innerContainer h3 {
	text-align: center;
}
@media only screen and (max-width: 600px) {
	.image-innerContainer {
		padding-left: auto;
		padding-right: auto;
	}
}
